.ap-stats {
    padding: 0px 10px;
    background-color: #f5f5f5;
}

.ap-dialog-container .ap-container {
    height: 100%;
}

.ap-aui-dialog2 div {
    height: 100%;
}

.ap-aui-dialog2 div.ap-stats {
    height: auto;
    position: absolute; /* go over the top of the bottom bar when visible */
}

/* add new aui dialog size of maximum */
.aui-dialog2-maximum.ap-aui-dialog2.aui-layer {
    top: 0;
    height: 100%;
}

.ap-aui-dialog2 .aui-dialog2-content {
	padding:0;

    /* in chrome'd dialogs - fixes scrollbars added by iframes with scrollbars pushing the width out */
    overflow:hidden;

    /* in safari, chromeless dialogs become invisible, because apparently GPU FTW */
    -webkit-transform: translatez(0);
    will-change: opacity, visibility;
}

.ap-aui-dialog2 iframe {
    display:block;
}

.ap-aui-dialog2.ap-aui-dialog2-chromeless .aui-dialog2-content {
    background-color:transparent;

    /* Override the aui selector that assumes the last-child is the footer */
    border-radius: 0;
}